<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <connectionStrings>
    <add name="Baza" connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=C:\Users\Пользователь\source\repos\TestTask\TestTask\Database1.mdf;Integrated Security=True"/>
  </connectionStrings>
  
</configuration>